@use "./colors.scss" as *;

@media screen and (min-width: 1440px) {
  body {
    /* header styling */
    header {
      min-width: 100vw;
      & .header__container {
        padding: 5.5rem 16.5rem 0rem 16.5rem;
        & nav.header__nav {
          flex-wrap: nowrap;
          & .nav__logo {
            flex: 1;
            & img {
              width: 100%;
              min-width: 19.4rem;
              min-height: 3.2rem;
            }
          }

          & button {
            display: none;
          }

          & ul.nav__nav-list {
            display: flex;
            flex-direction: row;
            margin: 0 0 0 56rem;
            font-size: 1.7rem;
            opacity: 1;
          }
        }
      }
    }

    /* showcase styling */
    section.showcase {
      background-image: url(/images/desktop/image-hero.jpg);
      padding: 22rem 2rem 0 16.5rem;

      & .showcase__content {
        margin-right: 60rem;
        padding: 4.3rem 3rem 1.7rem 2.5rem;
        font-size: 5rem;
      }
    }

    main.main {
      margin: -9rem 16rem 0 16rem;
      padding-bottom: 18.3rem;
      /* interactive VR styling */
      & section.main__interactive-VR {
        & .interactive-VR__image img {
          &.mobile-interactive-image {
            display: none;
          }
          &.desktop-interactive-image {
            display: block;
            width: 73rem;
            height: 50rem;
          }
        }

        & .interactive-VR__content {
          position: absolute;
          padding: 10.5rem 3.95rem 0 9.95rem;
          text-align: left;
          background-color: $primary-white;
          width: 54.4rem;
          height: 31.5rem;
          top: 95rem;
          left: 73.3rem;

          & h1 {
            font-size: 4.5rem;
          }
        }
      }

      /* our creations styling */
      & section.main__our-creations {
        position: relative;
        margin-top: 18.6rem;

        & h1.our-creations__heading {
          padding-bottom: 3.7rem;
          font-size: 4.5rem;
          text-align: left;
        }

        & .our-creations__gallery {
          grid-template-columns: repeat(4, minmax(25.7rem, 1fr));
          grid-template-rows: repeat(2, minmax(44.9rem, 1fr));
          gap: 3rem;

          & .gallery__card {
            position: relative;
            padding: 34.9rem 0 0 4.7rem;
            box-shadow: 0px -104px 46px 0px rgba(0, 0, 0, 0.47) inset;
            transition: 0.5s;

            &:hover {
              color: $primary-black;
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              opacity: 0;
              background-color: $primary-white;
            }

            &:hover::before {
              opacity: 0.7;
            }

            &:nth-of-type(1) {
              background-image: url(/images/desktop/image-deep-earth.jpg);
            }
            &:nth-of-type(2) {
              background-image: url(/images/desktop/image-night-arcade.jpg);
            }
            &:nth-of-type(3) {
              background-image: url(/images/desktop/image-soccer-team.jpg);
            }
            &:nth-of-type(4) {
              background-image: url(/images/desktop/image-grid.jpg);
            }
            &:nth-of-type(5) {
              background-image: url(/images/desktop/image-from-above.jpg);
            }
            &:nth-of-type(6) {
              background-image: url(/images/desktop/image-pocket-borealis.jpg);
            }
            &:nth-of-type(7) {
              background-image: url(/images/desktop/image-curiosity.jpg);
            }
            &:nth-of-type(8) {
              background-image: url(/images/desktop/image-fisheye.jpg);
            }

            & h3.card__title {
              position: relative;
              font-size: 3.3rem;
            }
          }
        }

        & .our-creations__button {
          position: absolute;
          top: 0;
          right: 0;
          transform: translateY(-3.6rem);

          & a button {
            font-size: 1.5rem;

            &:hover {
              color: $primary-white;
              background-color: $primary-black;
            }
          }
        }
      }
    }

    /* footer styling */
    footer.footer {
      flex-direction: row;
      padding: 4.5rem 16rem;
      gap: 47rem;

      & .footer__left {
        & ul.footer__nav-list {
          flex-direction: row;
          gap: 3.5rem;
          margin: 3rem 0 0 0;
        }
      }

      & .footer__right {
        & .footer__social-media {
          display: flex;
          justify-content: flex-end;
          text-align: right;

          & a::before {
            width: 80%;
            margin: 0.6rem 0 0 0.3rem;
          }
        }

        & .footer__disclaimer {
          margin-top: 3.2rem;

          & h6 {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
